{% extends "base.html" %}
{% block content %}
  <section id="vote">
    <div class="flex justify-center">
      <div class="border p-4 rounded bg-white m-10 max-w-3xl w-full space-y-2">
        <div class="flex space-x-4 items-center justify-between">
          <h1 class="text-xl font-medium">{{ poll.title|title }}</h1>
          <div class="space-x-2 items-center text-gray-500">
            <span>Oluşturan: {{ poll.author.name|default_if_none:poll.author.email }}</span>
            <span>|</span>
            <span>{{ poll.created_at|date }}</span>
          </div>
        </div>
        <div class="text-xs text-gray-500">Anket Hakkında: {{ poll.description }}</div>
        <hr>
        <div class="flex space-x-4 items-center justify-between text-gray-500 text-xs">
          {% if poll.is_private %}
            <span>Anket Durumu: Özel</span>
          {% else %}
            <span>Anket Durumu: Halka açık</span>
          {% endif %}
        </div>
        <div id="questions" class="space-y-2">
          <div class="mt-8 mb-4 space-y-8">
            {% for question in questions %}
              <div>
                <div class="flex space-x-2 items-center question">
                  <div
                    class="relative w-4 h-4 border border-gray-300 rounded-full flex justify-center items-center text-center shadow p-3.5">
                    <span>{{ forloop.counter }}</span>
                  </div>
                  <label for="{{ question.content|slugify }}_{{ question.id }}"
                         class="text-lg font-medium">{{ question.content }}</label>
                </div>
                <div id="answers" class="ml-10 mt-2">
                  <div>
                    {% if question.get_type_display|slugify in cho_list %}
                      <input type="{{ question.get_type_display|slugify }}"
                             id="{{ question.content|slugify }}_{{ question.id }}"
                             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-0 focus:border-orange-500 block w-full max-w-xl p-2.5"
                             placeholder="{{ question.content }}">
                    {% elif question.get_type_display|slugify == "range" %}
                      <div class="flex justify-between text-gray-500 text-sm">
                        <span>{{ question.get_meta_data.min|default:"0" }}</span>
                        <span>{{ question.get_meta_data.max|default:"100" }}</span>
                      </div>
                      <input type="range" min="0" max="100" value="0"
                             id="{{ question.content|slugify }}_{{ question.id }}"
                             class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer">
                    {% elif question.get_type_display|slugify == "checkbox" %}
                      <div class="flex flex-col space-y-1">
                        {% for answer in question.pollanswer_set.all %}
                          <div class="flex space-x-1 items-center">
                            <input id="{{ answer.content|slugify }}_{{ forloop.counter }}" type="checkbox"
                                   value="{{ answer.content|slugify }}"
                                   name="{{ question.content|slugify }}[]"
                                   class="w-4 h-4 text-orange-600 bg-gray-100 border-gray-300 rounded focus:ring-orange-500 focus:ring-2">
                            <label for="{{ answer.content|slugify }}_{{ forloop.counter }}"
                                   class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ answer.content }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    {% elif question.get_type_display|slugify == "radio" %}
                      <div class="flex flex-col space-y-1">
                        {% for answer in question.pollanswer_set.all %}
                          <div class="flex items-center">
                            <input id="{ answer.content|slugify }}_{{ forloop.counter }}" type="radio"
                                   value="{{ answer.content|slugify }}"
                                   name="{{ question.content|slugify }}"
                                   class="w-4 h-4 text-orange-600 bg-gray-100 border-gray-300 focus:ring-orange-500 focus:ring-2">
                            <label for="{ answer.content|slugify }}_{{ forloop.counter }}"
                                   class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ answer.content }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  {# TODO Question type 'a göre answer ayarı #}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}