{% load static tailwind_tags %}
<!doctype html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="poll">
  <meta name="description" content="poll, project, app">
  <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
  {% tailwind_css %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  {% block extra_css_files %}{% endblock %}
  <title>Poll Project</title>
</head>
<body>
{% include "header.html" %}
<main>
  {% block content %}{% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
{% block extra_js_files %}{% endblock %}
</body>
</html>