{% extends "base.html" %}
{% block content %}
  <section id="updatePoll">
    <div class="absolute flex right-0 space-x-4 px-4">
      <div>
        <a href="{% url "poll.index" %}" title="Geri dön"
           class="flex bg-white rounded-b-full px-3 p-1.5 hover:py-3 transition-[padding] shadow">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor"
               class="w-5 h-5 stroke-orange-800">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"></path>
          </svg>
        </a>
      </div>
      <div>
        <a href="{% url "poll.question.create" poll_id=poll.id %}" title="Soru ekle"
           class="flex bg-white rounded-b-full px-3 p-1.5 hover:py-3 transition-[padding] shadow">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
               stroke="currentColor"
               class="w-5 h-5 stroke-orange-800">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"></path>
          </svg>
        </a>
      </div>
      <div>
        <form title="Sil" action="{% url "poll.delete" pk=poll.id %}" method="post"
              class="flex bg-white rounded-b-full px-3 p-1.5 hover:py-3 transition-[padding] shadow">
          {% csrf_token %}
          <input type="hidden" value="Confirm">
          <button
            onclick="return confirm('Silmek istediğine emin misin ?')"
            type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-5 h-5 stroke-orange-800">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="flex flex-col items-center mx-10 my-12 space-y-4">
      {% if form.errors %}
        {% include "partials/form_errors.html" %}
      {% endif %}
      {% if messages %}
        {% include "partials/messages.html" %}
      {% endif %}
      <div class="bg-white border rounded max-w-2xl w-full">
        <div class="p-4 sm:flex items-center justify-between">
          <h1 class="font-semibold text-xl tracking-wider">{{ poll.id }} Numaralı Anket</h1>
          <div class="flex flex-col text-xs text-gray-500">
            <span>Oluşturma: <span class="float-right ml-1">{{ poll.created_at|date:"j M Y H:i" }}</span></span>
            <span>Son Düzenleme: <span class="float-right ml-1">{{ poll.updated_at|date:"j M Y H:i" }}</span></span>
          </div>
        </div>
        <hr>
        <div class="p-4">
          <form method="post">
            {% csrf_token %}
            <div class="mb-4">
              <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Başlık</label>
              <input type="text" id="title" name="title"
                     value="{{ poll.title }}"
                     class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5"
                     placeholder="Başlık" required>
            </div>
            <div class="mb-4">
              <label for="description"
                     class="block mb-2 text-sm font-medium text-gray-900">Açıklama</label>
              <textarea type="text" id="description"
                        name="description"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5"
                        placeholder="Açıklama">{{ poll.description }}</textarea>
            </div>
            <div class="mb-4">
              <label for="tags"
                     class="block mb-2 text-sm font-medium text-gray-900">Etiketler</label>
              <textarea id="tags"
                        name="tags"
                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5"
                        placeholder="Etiketler">{{ poll.tags }}</textarea>
              <span
                class="text-xs text-gray-500">*Virgül ile ayırarak yazınız.</span>
            </div>
            <div class="flex items-start mb-4">
              <div class="flex items-center h-5 space-x-2">
                <label class="relative inline-flex items-center cursor-pointer">
                  <input type="hidden" name="is_active" value="off"/>
                  <input type="checkbox" value="on" name="is_active" class="sr-only peer" {% if poll.is_active %}
                         checked {% endif %}>
                  <div
                    class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-orange-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-orange-600"></div>
                  <span class="ml-3 text-sm font-medium text-gray-900">Anket aktif mi ?</span>
                </label>
                <label class="relative inline-flex items-center cursor-pointer">
                  <input type="hidden" name="is_private" value="off"/>
                  <input type="checkbox" value="on" name="is_private" class="sr-only peer" {% if poll.is_private %}
                         checked {% endif %}>
                  <div
                    class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-orange-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-orange-600"></div>
                  <span class="ml-3 text-sm font-medium text-gray-900">Anket özel mi ? <span
                    class="text-xs text-gray-400">(Herkes çözebilir mi ?)</span> </span>
                </label>
              </div>
            </div>
            <button type="submit"
                    class="text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
              Anketi Kaydet
            </button>
          </form>
        </div>
      </div>
      <div class="bg-white border rounded max-w-2xl w-full">
        <div class="p-4 flex justify-between items-center">
          <div>
            <h1 class="font-semibold text-xl tracking-wider">Davet Kodları</h1>
          </div>
          <div>
            <form action="{% url "poll.invite" poll_id=poll.id %}" method="post">
              {% csrf_token %}
              <div class=" flex space-x-2
            ">
                <button type="submit"
                        class="border rounded px-4 py-2 text-sm bg-orange-600 text-white hover:bg-orange-700">
                  Yeni Davet Kodu Oluştur
                </button>
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div class="px-4 pt-2 items-center grid grid-cols-3 text-gray-500 underline text-base">
          <span>Davet Kodu</span>
          <span>Oluşturan</span>
          <span>Tarih</span>
        </div>
        <div class="p-4 items-center space-y-1">
          {% if poll.pollinvitelinks_set.count == 0 %}
            <h1 class="text-gray-500 text-sm">Herhangi bir davet kodu oluşturulmamış.</h1>
          {% endif %}
          {% for pollinvitelink in poll.pollinvitelinks_set.all %}
            <div class="flex items-center space-x-2">
              <div class="grid grid-cols-3 items-center w-full">
                <a href="{% url "poll.public.vote.invite" invite_link=pollinvitelink.link %}"
                   class="text-gray-900 underline hover:text-orange-500">/anketler/i/{{ pollinvitelink.link }}</a>
                <span
                  class="text-gray-500 text-sm">{{ pollinvitelink.author.name|default_if_none:pollinvitelink.author }}</span>
                <span class="text-gray-500 text-sm">{{ pollinvitelink.created_at }}</span>
              </div>
              <div>
                <form title="Sil" action="{% url "poll.invite.delete" pk=pollinvitelink.id poll_id=poll.id %}"
                      method="post">
                  {% csrf_token %}
                  <input type="hidden" value="Confirm">
                  <button
                    onclick="return confirm('Silmek istediğine emin misin ?')"
                    type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6 hover:stroke-orange-500">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                  </button>
                </form>
              </div>
            </div>
            <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}